services:
  web:
    build: 
      context: ./apps
      dockerfile: Dockerfile.prod
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .env.prod
    expose:
      - "8000"
    depends_on:
      - db
      - redis 
    restart: always

  db:
    image: postgres:16
    env_file:
      - .env.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: always

  redis:
    image: redis:7
    restart: always
    volumes:
      - redis_data:/data

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - web
    restart: always

volumes:
  postgres_data:
  redis_data:
