services:
  web:
    build:
      context: ./apps
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./apps:/apps
    ports:
      - "8000:8000"
    env_file:
      - .env.dev
    environment:
      - DJANGO_ENV=development
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    env_file:
      - .env.dev
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
  redis:
    image: redis:7
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
